<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script type="text/javascript" src="modules.js"></script>
  <title>Sample</title>
</head>
<body>
  <div class="a" id="a1">Element</div>
  <div class="b" id="b1">Node</div>
  <div class="c" id="c1">Field</div>
  <script type="text/javascript">
    draggable(document.getElementById('a1'));
    draggable(document.getElementById('b1'));
    draggable(document.getElementById('c1'));
  </script>
</body> 
</html>