body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}


.height-full {
    height: 100vh;
}


.canvas-wrapper {
    position: relative;
}


.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}